p {
  font-family: arial, sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 1em;
  color: black;
  cursor: pointer;
}

.hello-para-class {
  border: solid green 2px;
}

.goodbye-para-class {
  border: solid red 2px;
}

.maybe-para-class {
  border: dashed orange 2px;
}

/* custom styles */
.button {
  display: block;
  padding: 1em;
  margin: 1em;
}

.primary-button {
  background-color: green;
  color: #fff;
}

.secondary-button {
  background-color: orange;
  color: #fff;
}